<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bot Snapshot</title>
<%-include('snapshot_style.ejs')%>
</head>

<body>

<%-include('snapshot_script.ejs')%>
</body>
</html>